<div dir="ltr" class="col-sm-12 col-xl-12 section">
    <div class="bg-secondary rounded d-flex align-items-center justify-content-evenly p-4">
        <div id="cirRange"></div>
    </div>
    <div class="bg-secondary rounded d-flex align-items-center justify-content-evenly p-4">
        <p>خاموش</p>
        <div class="onoffswitch">
            <label for="valveOnOff" style="display:none;"></label>
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="valveOnOff" placeholder="l" tabindex="0" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <p>روشن</p>
    </div>
</div>