<div class="col-sm-6 col-xl-6 section">
    <div class="progress-percentage bg-secondary rounded d-flex align-items-center justify-content-around p-4">
        <div class="progress-percentage">
            <div id="temperatureCirProg"></div>
        </div>    
    </div>
</div>
<div class="col-sm-6 col-xl-6 section">
    <div class="progress-percentage bg-secondary rounded d-flex align-items-center justify-content-around p-4">
        <div class="progress-percentage">
            <div id="humidityCirProg"></div>
        </div>    
    </div>
</div>