<div class="col-sm-12 col-xl-12 section">
    <div class="bg-secondary rounded d-flex align-items-center justify-content-around p-4">
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
    </div>
    <div class="bg-secondary rounded d-flex align-items-center justify-content-around p-4">
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
    </div>
    <div class="bg-secondary rounded d-flex align-items-center justify-content-around p-4">
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
    </div>
    <div class="bg-secondary rounded d-flex align-items-center justify-content-around p-4">
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
            <i class="fa fa-power-off touchkey16" val="0"></i>
    </div>
</div>